<strong>Hello, {{provider}}</strong>
<p>There has been a cancellation, see details below:</p>
<p>
  <strong>Customer: </strong> {{user}} <br />
  <strong>Time/Date:</strong> {{date}} <br />
  <br />
  <small>
    date and time are available again!
  </small>
</p>