<strong>Hello, {{courier}}</strong>
<p>An order has been removed:</p>
<p>

  <strong>Time/Date:</strong> {{date}} <br />

  <strong>Orde Id: </strong>{{id}} <br />
  <br />
  <small>There is a cancelled order </small> <br />
  <small>DATE/TIME : {{date}}</small>
</p>