<strong>Hello, {{courier}}</strong>
<p>New Order assigned to you:</p>
<p>
  <strong>Customer: </strong> {{recipient}} <br />
  <strong>Time/Date:</strong> {{date}} <br />
  <strong>Order: </strong>{{product}} <br />
  <br />
  <small> A new order was assigned to you and is ready for pickup</small> <br />
  <small>Recall orders can be picked up between 08:00 e 18:00h</small>
</p>